
*.dri
*.GBL
*.GBO
*.GBS
*.GML
*.gpi
*.GTL
*.GTO
*.GTP
*.GTS
*.TXT
*.scr
work files/Adapter-CMRI8-3dot5mm-adapter-array.brd
work files/Adapter-CMRI8-3dot5mm-adapter-array.zip
work files/Adapter-CMRI8-3dot5mm-adapter.b#1
work files/Adapter-CMRI8-3dot5mm-adapter.b#2
work files/Adapter-CMRI8-3dot5mm-adapter.b#3
work files/Adapter-CMRI8-3dot5mm-adapter.b#4
work files/Adapter-CMRI8-3dot5mm-adapter.b#5
work files/Adapter-CMRI8-3dot5mm-adapter.b#6
work files/Adapter-CMRI8-3dot5mm-adaptersch.bak
work files/Adapter-CMRI8-RJ45.sch
